<%-include('includes/head.ejs')%>
</head>
<body>
    <%-include('includes/navigation.ejs')%>

    <main>
        <main>
            <h1><%= pageTitle %></h1>
            <form action="/add-product" method="POST">
                <input type="text" name="title" placeholder="Enter product title" required>
                <input type="text" name="price" placeholder="Enter product price" required>
                <textarea name="description" placeholder="Enter product description" rows="5" required></textarea>
                <input type="text" name="imageUrl" placeholder="Enter product link" required>
                <button type="submit">Add Product</button>
            </form>
        </main>
    </main>
    <%-include('includes/end.ejs')%>
