<%-include('includes/head.ejs')%>

</head>
<body>
    <%-include('includes/navigation.ejs')%>

    <div class="container">
        <h1>404</h1>
        <h2>Oops! Page Not Found</h2>
        <p>The page you're looking for doesn't exist or has been moved.</p>
        <a href="/" class="home-button">Go to Home</a>
    </div>
    <%-include('includes/end.ejs')%>